name: Deployment

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3


    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'


    - name: Run Spring Boot application
      run: mvn spring-boot:run
